.form{
    margin-right: 235px;
    margin-top: 50px;
    padding: 25px;
    font-family: sans-serif;
}
.formGroups{
    margin-bottom: 25px;
}
.navigator{
    background-color: black;
    width: 250px;
    height: 755px;
}